{% extends "base.html" %}

{% block content %}
<div class="posts">
	{% for post in post_list %}
	<section class="post">
		<header class="post-header">
			<h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

			<p class="post-meta">
			Time: <a class="post-author" href="#">{{ post.date_time |date:'Y M d'}}</a>
			Tag:
			{% for tag in post.tag.all %}
			<a class="post-category post-category-pure" href="{% url 'tag_search' tag=tag %}">{{ tag }}</a>
			{% endfor %}
			</p>
		</header>

		<div class="post-description">
			<p>
			{{ post.content|truncatewords_html:50 }}
			</p>
		</div>
		<a href="{% url 'detail' id=post.id %}">Read More >>> </a>
	</section>
	{% endfor %}

	{% if post_list.object_list and post_list.paginator.num_pages > 1 %}
	<div>
		<ul class="pager">
			{% if post_list.has_previous %}
			<a class="pure-button" href="?page={{ post_list.previous_page_number }}">上一页</a>
			{% else %}
			<a class="pure-button pure-button-disabled" href="#">上一页</a>
			{% endif %}

			{% for i in post_list.paginator.page_range %}
			<a class="pure-button" href="?page={{ i }}">{{ i }}</a>
			{% endfor %}
    
			{% if post_list.has_next %}
			<a class="pure-button" href="?page={{ post_list.next_page_number }}">下一页</a>
			{% else %}
			<a class="pure-button pure-button-disabled" href="#">下一页</a>
			{% endif %}
		</ul>
	</div>
	{% endif %}
</div>
{% endblock %}      
